{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v={{ dashboard_asset_version }}">
<script src="{% static 'js/dashboard_core.js' %}?v={{ dashboard_asset_version }}"></script>
<script src="{% static 'js/dashboard_metrics.js' %}?v={{ dashboard_asset_version }}"></script>
<script src="{% static 'js/dashboard_api.js' %}?v={{ dashboard_asset_version }}"></script>
<script src="{% static 'js/dashboard_inline_shared.js' %}?v={{ dashboard_asset_version }}"></script>
<script src="{% static 'js/dashboard_month.js' %}?v={{ dashboard_asset_version }}"></script>
<script src="{% static 'js/dashboard_editor_planned.js' %}?v={{ dashboard_asset_version }}"></script>
<script src="{% static 'js/dashboard_editor_completed.js' %}?v={{ dashboard_asset_version }}"></script>
<script src="{% static 'js/dashboard_coach.js' %}?v={{ dashboard_asset_version }}"></script>
<script src="{% static 'js/dashboard.js' %}?v={{ dashboard_asset_version }}"></script>
