.venv/
__pycache__/
*.pyc
db.sqlite3
.env
.env.*
!.env.example
media/
backend/media/
.garminconnect/
endurobuddy*
Vojtěch Holcman.xlsx
22150739590_ACTIVITY.fit
Vojt* Holcman*.xlsx
tmp_22163202434.fit
